<%= @competition.name %>
<%= link_to 'record', new_record_path %>
<% @records.each do |record| %>
    
     <table>
        <tr>
            <td>  
                <%= link_to record.name, record_path(record) %>
            </td>
            <td>
               <%= record.total_time %>
            </td>
        </tr>
    </table>

    
<% end %>
<%= bar_chart @record_date.group_by_day(:created_at).sum(:total_time), width: "800px", height: "300px" %>
