<%= @competition.name %>
<%= link_to 'record', new_record_path %>
<% @records.each do |record| %>
    
     <table>
        <tr>
            <td>  
                <%= link_to record.name, record_path(record) %>
            </td>
            <td>
               <%= record.total_time %>
            </td>
        </tr>
    </table>

    
<% end %>
<%= line_chart @records.pluck(:created_at,:total_time), max: 60,title: "total distance" %>
 <!--x軸y軸の設定はpluck(:x軸,：y軸)でいけるy-->